{% extends "layout.html" %}

{% block title %}
<title>Stocks Wizard - About Us</title>
{% endblock %}
{% block content %}
<div class="container px-4">
    <h1 class="text-center">ABOUT US</h1>
    <div class="row text-center">
        <div class="col-4 pb-3 ">
            <div class="col border border-success rounded">
                <img src="" alt="" srcset="">
                <h3>Bakti PM</h3>
                <p>UI/UX Designer & Frontend Developer 1</p>
            </div>
        </div>
        <div class="col-4 pb-3 ">
            <div class="col border border-success rounded">
                <img src="" alt="" srcset="">
                <h3>Fawzi</h3>
                <p>Backend Developer 1 & DevOps Engineer</p>
            </div>
        </div>
        <div class="col-4 pb-3 ">
            <div class="col border border-success rounded">
                <img src="" alt="" srcset="">
                <h3>M Fahryan</h3>
                <p>PPT Designer</p>
            </div>
        </div>
        <div class="col-6">
            <div class="col border border-success rounded">
                <img src="" alt="" srcset="">
                <h3>Rizki Faturriza</h3>
                <p>Backend Developer 2</p>
            </div>
        </div>
        <div class="col-6">
            <div class="col border border-success rounded">
                <img src="" alt="" srcset="">
                <h3>Rangga</h3>
                <p>Frontend Developer 2</p>
            </div>  
        </div>
    </div>
</div>
{% endblock %}
