{% extends "layout.html" %}
{% block content %}

    <h1>FAQ</h1>

    <h2>What is the purpose of this website?</h2>
    <p>This website is a demonstration of the Python API for the Trading System.</p>

    <h2>What is the Trading System?</h2>
    <p>The Trading System is a system that allows users to trade stocks and cryptocurrencies.</p>

    <h2>What is the Python API?</h2>
    <p>The Python API is a Python library that allows users to interact with the Trading System.</p>

    <h2>What is the Trading System API?</h2>
    <p>The Trading System API is a RESTful API that allows users to interact with the Trading System.</p>

    <h2>What is the Trading System API URL?</h2>
    <p>The Trading System API URL is http://    </p>
{% endblock %}
