<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"> $('select.dropdown')
  .dropdown()
;</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>




<!--<div class="ui form">-->
<!--  <div class="field">-->

<!--    <label>Country</label>-->
<!--    <select multiple="" class="ui dropdown">-->
<!--      <option value="">Select Emiten</option>-->
<!--      <option value="AB">ABDA</option>-->
<!--      <option value="AI">AIMS</option>-->
<!--      <option value="AS">AISA</option>-->
<!--      <option value="AR">ARGO</option>-->
<!--      <option value="AS">ASDM</option>-->
<!--      <option value="AG">ASGR</option>-->
<!--      <option value="BA">BABP</option>-->
<!--      <option value="BK">BKDP</option>-->
<!--      <option value="CI">CITA</option>-->
<!--      <option value="EX">EXCL</option>-->
<!--      <option value="FM">FMII</option>-->
<!--      <option value="FP">FPNI</option>-->
<!--      <option value="IN">INDR</option>-->
<!--      <option value="JS">JSMR</option>-->
<!--      <option value="KD">KDSI</option>-->
<!--      <option value="LM">LMPI</option>-->
<!--      <option value="LP">LPGI</option>-->
<!--      <option value="PN">PNBN</option>-->
<!--      <option value="PR">PRAS</option>-->
<!--      <option value="PS">PSKT</option>-->
<!--      <option value="PU">PUDP</option>-->
<!--      <option value="SH">SHID</option>-->
<!--      <option value="SP">SPMA</option>-->
<!--      <option value="SQ">SQMI</option>-->
<!--      <option value="SU">SULI</option>-->
<!--      <option value="TF">TFCO</option>-->
<!--      <option value="TR">TRST</option>-->
<!--      <option value="UN">UNIC</option>-->
<!--      <option value="VO">VOKS</option>-->
<!--    </select>-->
<!--  </div>-->
<!--</div>-->

<div class="ui container">
    <div class="ui segment">
        <h1>Stock IDX COMPOSITE</h1>
        <p>Here is Top 30 composit, periode Jun 01, 2022 - Dec 30, 2022 </p>
    </div>
    <form method="get" >
        <select name="filter">
            <option value="all">All Stock</option>
            <option value="new_closing_high">New closing High</option>
            <option value="new_closing_low">New closing Low</option>
        </select>
        <input type="submit" />
    </form>
    <table class="ui striped table">
  <thead>
    <tr>
          <th>Emiten</th>
          <th>Company</th>
          <th>Volume</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
        <td>{{ stock.symbol }}</td>
        <td><a href="/stock/{{ stock.symbol }}" >{{ stock.company }}</a> </td>
        <td>{{ stock.volume }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
</div>

<table>
</table>
</body>
</html>